.addAndSearchBox {
  width: 100%;
  min-height: 47px;
  background: transparent;
  border-top: 5px solid red;
  border-left: 5px solid red;
  border-right: 5px solid red;
  border-bottom: none;
  color: white;
  padding: 10px;
}
.addAndSearchBox::placeholder {
  color: #8c9fc5;
}
.addAndSearchBox:focus {
  outline: none;
}
