.friendsCard {
  border: 5px solid red;
}
.friendsCard > div:not(:first-child) {
  border-top: 3px solid red;
}

.friendsCard > div:not(:last-child) {
  border-bottom: 3px solid red;
}

.add-friend-btn {
  width: 100%;
  background: transparent;
  color: white;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
